{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: white;
    }
</style>

<script>
    function removerDoMongo() {
        var matricula = document.getElementById("matricula").value
        var oReq = new XMLHttpRequest()
        let url = `http://localhost:3000/deleteLocalizacao/${matricula}`
        oReq.open("GET", url)
        oReq.send()
    }
</script>

<center>
    <div class="col-md-10 col-sm-6 col-xl-5 order-2 order-sm-1">

        <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-1 mt-1" style="font-size:23pt">Exclusão de endereço</p>
        <input type="text" value="{{ user.matricula }}" id="matricula" hidden>
        <form class="mx-5 mx-md-8" method="post">
            {% csrf_token %}
            <div class="d-flex flex-row align-items-center mb-1">
                <div class="form-outline flex-fill mb-0">
                    <p style="text-align:center;">Você tem certeza que deseja excluir o endereço "{{ object.rua }}"?</p>
                    <input onclick="removerDoMongo()" style="border-color: red;" class="form-control" type="submit" value="SIM">
                    <input onclick="window.location.href='/enderecoLista'" style="border-color: blue; margin-top: 10px;"
                        class="form-control" type="button" value="NÃO">
                </div>
            </div>

        </form>
    </div>

</center>

{% endblock %}