{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
{% endblock %}

{% block body %}


<style>
  html,
  body {
    /* margin: 0;
    height: 100%;
    overflow: hidden; */
    background-color: white;
  }
</style>

  {% if endereco %}
  {% for x in endereco %}

  <div class="row d-flex justify-content-center align-items-center h-100" style=" margin-top: 50px;">
    <div class="col-lg-3 col-xl-9">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-2">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-sm-6 col-xl-5 order-2 order-sm-1">
                        <input type="text" value="list" id="pageType" hidden>
                        <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-1 mt-1" style="font-size:23pt">Endereço 
                          Cadastrado</p>

                        <div onsubmit="enviarParaMongo()" class="mx-5 mx-md-8">
                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label style="font-weight: bold; " class="form-label" for="id_rua">Rua</label>
                                    <p id="id_bairro">{{ x.rua }}</p>

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label style="font-weight: bold; " class="form-label" for="id_bairro">Bairro</label>
                                    <p id="id_bairro">{{ x.bairro }}</p>

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label style="font-weight: bold; " class="form-label" for="id_cep">CEP</label>
                                    <p id="id_cep">{{ x.cep }}</p>

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label style="font-weight: bold; " class="form-label" for="id_numero">N°</label>
                                    <p id="id_numero">{{ x.numero }}</p>

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label style="font-weight: bold; " class="form-label" for="id_tipoResidencia">Tipo de Residência:</label>
                                    <p id="id_tipoResidencia">{{ x.tipoResidencia }}</p>

                                </div>
                            </div>


                            <div style="margin-top: 10px;" class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button onclick="window.location.href='/painel'" type="button" style="background-color:#2E28C3; font-size:11pt; margin-left: 10px;"
                                    class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-left"></i> Retornar ao painel</button>
                                <button onclick="window.location.href='deleteEndereco/{{ x.id }}/'" type="button" class="btn btn-danger" style="font-size:11pt; margin-left: 10px;"
                                    class="btn btn-primary btn-lg"><i class="fa fa-trash"></i> Excluir</button>
                            </div>

                          </div>

                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">

                        <div id="map" style="width: 900px; height: 500px"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

  {% else %}
  <script>
    window.location.href = "/enderecoCadastro";
  </script>

  {% endif %}
  <script src="{%  static 'scripts/endereco.js' %}"></script>
  <script>
    obterLatLng("{{ user.matricula }}")
  </script>
{% endblock %}