{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
    body {
        background-image: url("{% static 'imagens/tela Inicial.png' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<div class="campo">
    <h1 id="title">My grades</h1><br>
    <a style="text-decoration: none;" href="/cadastro">
        <button class="btn btn-success" id="buttonCadastro">Sou Aluno</button>
    </a>

    <a style="text-decoration: none;" href="accounts/login">
        <button class="btn btn-primary" id="buttonLogin">Sou Professor</button>
    </a>
</div>

{% endblock %}