
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Spline+Sans:wght@300&display=swap');
    .campo {
    background: transparent;
    display:inline-block;
    width: 480px;
    height: 280px;
    text-align: center;
    margin-top: 160px;
    margin-left: 375px;
    border-radius: 10px;

    }
    #title{
        margin-top: 70px;
        color: black;
        text-align: center;
        font-family: 'Spline Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    #buttonLogin{
        background-color: black;
        border-color: black;
    }

    #buttonCadastro{
        margin-right: 5px;
        background-color: #2E28C3;
    }

    #buttonCenter{
        margin-top: 80px;
        
    }